a {
    text-decoration: none;
}


.header__inner {
    display: flex;
    justify-content: space-between;
    align-items: center;
}


.menu_list{
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 20px;
    padding: 25px;
}

   
* {
    font-size: 20px;
    color: #274C5B;
    font-family: 'Roboto';
    font-weight: 700;
    list-style-type: none;
}

.background {
    width: 100%;
    position: absolute;
}

.fruits {
    width: 100%;
    margin-left: 500px;
}

input {
    border: 0px solid;
}

.banner {
    margin-left: 550px;
    margin-top: 100px;
}

.main {
    font-style: italic;
    bottom: 50%;
    left: 30%;
}