* {
    box-sizing: border-box;
}

a {
    text-decoration: none;
}

body {
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
}

.container {
    max-width: 1920px;
    padding: 0 20px;
    margin: 0 auto;
}

.header {
    padding-top: 20px;
}

.header_inner {
    display: flex;
    justify-content: space-between;
    padding-top: 10px;
}

.logo {
    font-size: 28px;
    font-weight: 900;
    justify-content: flex-start;
    margin-top: 10px;
}

.menu_list {
    display: flex;
    list-style: none;
    justify-content: flex-end;
    align-items: center;
}
   
.menu_list-item {
    margin-right: 5px;
}
   
.menu_list-link {
    padding: 10px 20px;
    font-size: 20px;
    color: black;
    font-family: 'Roboto';
    cursor: pointer;
    transition: all 0.3s; 
}
